
<html>
	<head>
		<title> GPA Calculator</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="icon" href="static/favicon.ico">
		<style>
		p.outset {border-style: outset;}
		</style>
	</head>
	<body>
		<div id = "header"><p class="outset"><img src="/static/KDSlogo.png" alt="KDSlogo" style="width:40px; height:40px;">            Kent Denver GPA Calculator            <img src="/static/KDSlogo.png" alt="KDSlogo" style="width:40px; height:40px;"></p></div>
		<div id= "centerer">
		<div id = "Username"> Username: </div>
		<div id = "Password"> <input onchange="changeText()" type="text" id="User"></div>
			<br>
			<br>
		<div id = "Username"> Password: </div>
	  <div id = "Password"> <input onchange="changeText()" type="password" id="Pass"></div>
			<br>
			<a href = "login">
		  <div id = "LoginButton">
		    Login
		   </div>
			 </a>
			 <br>
			<div id = "Signup"> Don't have an account?</div>
			<br>
			<a href = "signup">
		  <div id = "SignupButton">
		    Signup
		   </div>
			 	</a>
				<a href = "gpa">
			  <div id = "SignupButton">
			    GPA
			   </div>
				 	</a>
		</div>
		<body onload="startTime()">
		<br>	<br>	<br>	<br>	<br>	<br> <br>	<br> <br>	<br>
		<div id = "footer"><p class="outset"><img src="/static/KDSlogo.png" alt="KDSlogo" style="width:20px; height:20px;">               Made by Fahim Choudhury & Shreyas Gupta               <img src="/static/KDSlogo.png" alt="KDSlogo" style="width:20px; height:20px;">                <span id="txt"></span></p></div>

		<script src = "static/script.js"></script>

	</body>


</html>
