
<html>
	<head>
		<title>  GPA Calculator</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="icon" href="static/favicon.ico">
		<style>
		p.outset {border-style: outset;}
		</style>
	</head>
	<body>
		<div id = "header"><p class="outset"><img src="/static/KDSlogo.png" alt="KDSlogo" style="width:40px; height:40px;">            Kent Denver GPA Calculator            <img src="/static/KDSlogo.png" alt="KDSlogo" style="width:40px; height:40px;"></div>
		<div id= "centerer">
		<div id = "Username"> Username: </div>
		<div id = "Password"> <input onchange="changeText()" type="text" id="User"></div>
			<br>
			<br>
		<div id = "Username"> Password: </div>
	  <div id = "Password"> <input onchange="changeText()" type="password" id="Pass"></div>
			<br>
			<a href = "login">
		  <div id = "LoginButton">
		    Login
		   </div>
			 </a>
			 <br>
			<div id = "Signup"> Don't have an account?</div>
			<br>
			<a href = "signup">
		  <div id = "SignupButton">
		    Signup
		   </div>
			 	</a>
		</div>
		<body onload="startTime()">
		<br>	<br>	<br>	<br>	<br>	<br> <br>	<br> <br>	<br>

		<div id = "footer"><p class="outset">

			<script type="text/javascript">
			tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
			tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

			function GetClock(){
			var d=new Date();
			var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear();
			if(nyear<1000) nyear+=1900;
			var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

			if(nhour==0){ap=" AM";nhour=12;}
			else if(nhour<12){ap=" AM";}
			else if(nhour==12){ap=" PM";}
			else if(nhour>12){ap=" PM";nhour-=12;}

			if(nmin<=9) nmin="0"+nmin;
			if(nsec<=9) nsec="0"+nsec;

			document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" |\| "+nhour+":"+nmin+":"+nsec+ap+"";
			}

			window.onload=function(){
			GetClock();
			GetText();
			setInterval(GetClock,1000);
			}

</script>
	<script type="text/javascript">
		function GetText(){
				document.getElementById('demo').innerHTML="Made by Fahim Choudhury and Shreyas Gupta";
			}
			</script>

<span id="clockbox"></span>

<img src="/static/KDSlogo.png" alt="KDSlogo" style="width:20px; height:20px;">               <span id="demo"></span>                               </div>

		<script src = "static/script.js"></script>

	</body>


</html>
