<html>
	<head>
		<title> GPA Calculator </title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="icon" href="static/favicon.ico">
		<style>
		p.outset {border-style: outset;}
		</style>
	</head>
	<body>
	<div id = "centerer">
		<div id = "header"> <p class="outset">Kent Denver GPA Calculator</p></div>
		<div id = "Login">Thank you for logging in! </div>
    <br>
    <br>
    <div id = "Login">Your classes are shown below. </div>
	</div>
		<script src = "static/script.js"></script>
	</body>
</html>
