<html>
	<head>
		<title> GPA Calculator </title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<link rel="icon" href="static/favicon.ico">
		<style>
		p.outset {border-style: outset;}
		</style>
	</head>
	<body>
	<div id = "centerer">
		<div id = "header"> <p class="outset">Kent Denver GPA Calculator</p></div>
		<div id = "Login">Please sign up below!</div>
    <br>
    <br>
    <div id = "Username"> Username: </div>
    <div id = "Password"> <input onchange="changeText()" type="text" id="User"></div>
      <br>
      <br>
    <div id = "Username"> Password: </div>
    <div id = "Password"> <input onchange="changeText()" type="password" id="Pass"></div>
      <br>
      <div id = "Username"> Re-enter Password: </div>
      <div id = "Password"> <input onchange="changeText()" type="password" id="Pass"></div>
	</div>
		<script src = "static/script.js"></script>
	</body>
</html>
